.banner{
    background-image: url(../src/assets/homepage-images/Banner-Homepage.png);
    background-position: center center;
}

.section3{
    background-image: url(../src/assets/homepage-images/Insight-section.png);

}

.insights{
    background-image: url(./assets/insights/banner.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.insights-s3{
    background-image: url(./assets/insights/banner2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section6{
    background-image: url(./assets/insights/banner4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.industries{
    background-image: url(./assets/industries/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.services{
    background-image: url(./assets/services/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.careers{
    background-image: url(./assets/careers/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

input::placeholder{
    font-size: 20px;
}

/* ::-webkit-scrollbar{
    
}

::-webkit-scrollbar-track{
    width: 10px ;
}
::-webkit-scrollbar-thumb{
    background-color: red;
} */
