.banner{
    background-image: url(../src/assets/homepage-images/Banner-Homepage.png);
    background-position: center center;
}

.section3{
    background-image: url(../src/assets/homepage-images/Insight-section.png);

}